#page{width:90%;height:600px;background:red;margin:0px auto;}

#header{height:30%;background:black;margin:5px,5px,5px,5px;color:#FFFFFF;padding-left:50px;border:10px solid #B5A642;}

#body{height:40%;background:yellow;padding-left:50px;border:10px solid #B5A642;}
#body div{width:30%;height:100%;margin-left:100px;float:left;}
#left{background:orange;}
#right{background:blue;}

#foot{height:30%;background:gray;padding-left:50px;border:10px solid #B5A642;}
#foot div{margin-left:50px;width:30%;height:20%;float:left;}
#foot p{margin-left:50px;width:30%;height:80%;float:left;color:#FFFFFF;}
